main{
  border: 1px solid red;
  height: 500px;
  width: 1110px;
  margin: auto;
}
header {
  border:1px solid red;
  height: 100px;
  width: 1110px;
  margin:auto;
  text-align: right;
  font-family: 'Darumadrop One', cursive;
  background-color: rgb(158, 153, 153);
  
}
nav{
  border:1px solid green;
  height: 50px;
  width: 1110px;
  margin:auto;
  text-align:center;
  background-color: #031a11;
  
}
section{
  border:1px solid red;
  height: 290px;
  width: 1100px;
  margin: auto;
  padding: 5px;
}
footer{
  border:1px solid green;
  height:50px;
  width: 1110px;
  margin:auto;
}
aside{
  border: 1px solid blue;
  height: 290px;
  width: 400px;
  float: right;
}
article{
  border: 1px solid black;
  height: 145px;
  width: 695px;
  float: right;
}
ul li{
  border: 1px solid black;
  height: auto;
  display: inline-block;
  margin-left: 50px;
  font-family: 'Darumadrop One', cursive;
  color: white  ;
}
header img{
  height:95px;
  width: 95px;
}