main{
  border: 5px solid red;
  height: 800px;
  width: 1100px;
  margin: auto;
}
header {
  border:5px solid red;
  height: 100px;
  width: 1100px;
  margin:auto;
}
nav{
  border:5px solid green;
  height: 100px;
  width: 1100px;
  margin:auto;
}
section{
  border:5px solid red;
  height: 460px;
  width: 1100px;
  margin: auto;
}
footer{
  border:5px solid green;
  height:100px;
  width: 1100px;
  margin:auto;
}


